// start css for dice logo
.dice-box {
  padding: 5px;
}
.dice {
  padding: 4px;
  height: 40px;
  width: 40px;
  background-color: rgba(88,93,97,.8);
  border-radius: 5px;
}
.pip {
  background-color: #fff;
  height: 5px;
  width: 5px;
  border-radius: 50px;
}
.pip-container {
  margin-top: 3px;
  margin-bottom: 5px;
}
.pip#1 {
  margin-right: 4px;
}

div.rotate_right {
  float: left;
  -ms-transform: rotate(16deg); /* IE 9 */
  -webkit-transform: rotate(16deg); /* Safari */
  transform: rotate(16deg);
}
// end css for dice logo
canvas#diceChart {
  max-height: 600px;
}
button {
  width: 31%;
  min-height: 50px;
}

div#input {
  margin-top: 10px;
}
header {
  margin-bottom: 20px;
}

.wrapper p#footer-text {
  text-align: center;
  font-size: .9em;
}

div.reset {
  margin-top: 30px;
}
button#reset {
  background-color: #eeeeee;
  width: 100%;
}
button#undo {
  background-color: rgba(193, 160, 160, .8);
}

div#rolls {
  max-height: 70px;
  overflow-y: auto;
  margin-bottom: 1px;
}

.site-icon {
  margin-right: 20px;
  float: left;
  padding: 10px;
}

img#icon-svg {
  width: 50px;
}

.digit-box {
  margin-top: 0;
}

span.glyphicon-heart {
  color: #D54343;
}

span.glyphicon-user {
  color: #e3e3e3;
  margin-right: 5px;
}

span.glyphicon-user.turn{
  color: rgb(114,166,202);
  margin-right: 5px;
}

span#total-txt {
  font-size: $base-font-size * .9;
}

span.history-text {
  float: left;
  padding-left: 5px;
}
div.last-roll {
  font-size: $base-font-size *1.1;
}

div#rolls :first-child {
  color: #D54343;
}

span.last-roll-title {
  padding-right: 10px;
}

div#lr-text {
  padding-right: 5px;
  float: left;
  display: inline-block;
}

div#numbers .form-group {
  padding-left: 10px;
}