
button {
  background-color: #eee;
  border: none;
  width: 30%;
  height: 40px;
}

div#input {
  margin-top: 20px;
}

header {
  margin-bottom: 20px;
}

.wrapper p {
  text-align: center;
  font-size: .8em;
}

div.reset {
  margin-top: 50px;
}
button#reset {
  background-color: #FFE1AF;
  width: 95%;
}