<header class="site-header">
    <div class="site-icon">
        <div class="dice-box">
            <div class="dice rotate_right">
                <div class="pip-container clearfix">
                    <div class="pip pull-right" id="1"></div>
                </div>
                <div class="pip-container">
                    <div class="pip center-block" id="2"></div>
                </div>
                <div class="pip-container">
                    <div class="pip pull-left" id="3"></div>
                </div>
            </div>
        </div>
    </div>
  <div class="wrapper">

    <p class="site-title">{{ site.title }}</p>


  </div>

</header>
