<div class="col-md-4" id="input">
    {% include history.html %}
    <div class="panel panel-default" id="numbers">
        <div class="panel-body center-block">
                    <div class="digit-box">
                        <button class="btn btn-default digit" type="button" id="0">2</button>
                        <button class="btn btn-default digit" type="button" id="1">3</button>
                        <button class="btn btn-default digit" type="button" id="2">4</button>
                    </div>
                    <div class="digit-box">
                        <button class="btn btn-default digit" type="button" id="3">5</button>
                        <button class="btn btn-default digit" type="button" id="4">6</button>
                        <button class="btn btn-default digit" type="button" id="5">7</button>
                    </div>
                    <div class="digit-box">
                        <button class="btn btn-default digit" type="button" id="6">8</button>
                        <button class="btn btn-default digit" type="button" id="7">9</button>
                        <button class="btn btn-default digit" type="button" id="8">10</button>
                    </div>
                    <div class="digit-box">
                        <button class="btn btn-default digit" type="button" id="9">11</button>
                        <button class="btn btn-default digit" type="button" id="10">12</button>
                        <button class="btn btn-sm reset" type="button" id="undo">Undo</button>
                    </div>
                <div class="form-group center-block reset">
                    <button class="btn btn-default reset" type="button" id="reset">Reset all data</button>
                </div>
        </div>
    </div>
    {% include user.html %}
</div>