<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label" for="users">Number of Players:</label>
            <select class="form-control" id="users">
                <option>Select Number of Players</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div class="user-icons">
            <!--<span class="glyphicon glyphicon-user"></span>-->
            <!--<span class="glyphicon glyphicon-user"></span>-->
        </div>
    </div>
</div>